.album-list-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.update-delete-button-song {
  display: flex;
  gap: 2em;
  padding-bottom: 2em;
}
.song-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.song-list-input {
  display: flex;
  gap: 5em;
}

.album-song-container {
  padding-left: 2em;
}

.flex-container {
  display: flex;
  flex-direction: column;
}
