* {
    box-sizing: border-box;
    margin: 0;
  }
  /* .album-container {
    display: flex;
    min-height: 70vh;
    flex-direction: column;
    margin: 0;
    text-align: center;
    gap : 2em;
    padding-top: 8em;
    background-image: url("/img/donut-background-6.webp");
  } */

  header {
    background: rgba(3, 30, 88, 0.089);
    text-align: center;
    
  }

  footer {
    background: rgba(3, 30, 88, 0.089);
    text-align: center;
    font-style: italic;
    color: darkblue; 
    font-weight: bold;
  }

  .albums {
    padding-left: 10px;
    padding-bottom: 2em;
   
}

.album-input{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 5em;
  
}

.album-list{
  display: flex;
  gap: 17em;
  
}

.album-title{
  font-style: italic;
  text-shadow: 0 0 3px red;
}

.addAlbumButton{
  background-color: lightgreen;
  height: 3em;
  border-radius: 5px;
  color: darkgreen;
  font-weight: 900;
}

/* styling song list view*/
.back-to-album-list-btn {
  padding-top: 3em;
  background-color: darkkhaki;
}

/* styling starts */
.box-wrapper{
  width: 400px;
  box-shadow: 2px 2px rgba(0, 0, 0, .1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.review{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.comments p{
    font-size: 0.7rem;
    color: #4b4b4b;
}